<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou uma mudança de sua senha. Você pode continuar no link abaixo:</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não foi você quem fez a requisição, por favor ignore esse e-mail.</p>
<p>Sua senha não mudará até que você acesse o link acima e crie uma nova.</p>
